@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		5;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	10;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/
.window{
	width:49%;
	display:block;
	margin:20px auto 10px auto;
	text-align:center;
	color:#FFF;
	float:left;}
.door{
	margin:20px auto 10px auto;
	border-left:1px solid black;
	text-align:center;
	width:49%;
	color:#FFF;
	display:block;
	float:right;}
	

.window img, .door img{
	margin:0px auto 0px auto;
	display:block;
	width:60%;
}
.watch_mode 
{
	float:left;
	}
	
.parking_alarm{
	border-left:1px solid black;
	float:right}	
	
.watch_mode, .parking_alarm{
	text-align:center;
	color:#FFF;
	width:49%;}
.watch_mode h3, .parking_alarm h3{
	display:block;
	margin-top:-15px;}	

.parking_alarm img, .watch_mode img{
	display:block;
	margin:0px auto 0px auto;
	width:90%;
}

.geo_lock{
	clear:both;
	width:100%;

}
.middle{
	clear:both;
	width:50%;
	color:#FFF;
	text-align:center;
	margin:0px auto 0px auto;	
}
.middle img{
	
height:180px;
}

.middle h3{
	margin-top:-25px;}





.onoffswitch {
	margin-left:40px;
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "OPEN";
    padding-left: -3px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "CLOSE";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}











.lockunlockswitch {
	
	margin-left:50px;
    position: relative; width: 90px;
	margin:Opx auto opx auto;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.lockunlockswitch-checkbox {
    display: none;
}
.lockunlockswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.lockunlockswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.lockunlockswitch-inner:before, .lockunlockswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.lockunlockswitch-inner:before {
    content: "LOCK";
    padding-left: -3px;
    background-color: #34A7C1; color: #FFFFFF;
}
.lockunlockswitch-inner:after {
    content: "UNLOCK";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.lockunlockswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.lockunlockswitch-checkbox:checked + .lockunlockswitch-label .lockunlockswitch-inner {
    margin-left: 0;
}
.lockunlockswitch-checkbox:checked + .lockunlockswitch-label .lockunlockswitch-switch {
    right: 0px; 
}


















/* Mobile Layout: 480px and below. */

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 87.36%;
	padding-left: 1.82%;
	padding-right: 1.82%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
.gridContainer {
	width: 88.2%;
	max-width: 1232px;
	padding-left: 0.9%;
	padding-right: 0.9%;
	margin: auto;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
}